<!DOCTYPE html>
<html>
<head>
  <title>Ready Set OM</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Bree+Serif|Chivo|Arvo|Titillium+Web:400,300|Roboto+Slab:400,300|Droid+Sans', media: 'all', 'data-turbolinks-track' => true %>
  
</head>


 <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if current_user %>
            <a class="navbar-brand" href="/">Namaste, <%= current_user.email %>!</a>
            <button class="btn btn-success"><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></button>
            </div>
                        <form class="navbar-form navbar-right">
              <button class="btn btn-success"><a href="/sequences">Sequences</a></button>
              <button class="btn btn-success"><a href="/asanas">Asanas</a></button>
              </form>  
          <% else %>
            <a class="navbar-brand" href="/">Namaste!</a>
            <!-- </div> -->
            <!-- <div id="navbar" class="navbar-collapse collapse"> -->
            <button class="btn btn-success"><%= link_to 'sign up', new_user_registration_path %></button>
            <button class="btn btn-success"><%= link_to 'log in', new_user_session_path %></button>
          </div>            
            <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<!--       <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->




 
    <%= yield %>



      <hr>

      <footer>
        <p>&copy; 2016 <a href="http://www.rebeccaestes.com">Rebecca G. Estes</a></p>
      </footer>
    </div> <!-- /container -->


</html>
