<!DOCTYPE html>
<html>
<head>
  <title>Ready Set OM</title>
    <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'jquery-ui.min.js', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Bree+Serif|Chivo|Arvo|Titillium+Web:400,300|Roboto+Slab:400,300|Droid+Sans', media: 'all', 'data-turbolinks-track' => true %>
  
</head>


 <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <% if current_user %>
            <a class="navbar-brand" href="/">Namaste, <%= current_user.email %>!</a>
            <button class="btn btn-success"><%= link_to 'sign out', destroy_user_session_path, :method => :delete %></button>
            <span class="nav_buttons_menu">
              <a href="/sequences" class="btn btn-success">Sequences</a>
              <a href="/asanas" class="btn btn-success">Asanas</a>
            </span>
            </div>
          <% else %>
            <a class="navbar-brand" href="/">Namaste!</a>
            <button class="btn btn-success"><%= link_to 'sign up', new_user_registration_path %></button>
            <button class="btn btn-success"><%= link_to 'log in', new_user_session_path %></button>  
            <span class="nav_buttons_menu">
            <a href="/asanas" class="btn btn-success">Asanas</a>
          </span>           
            <% end %>
          </div> 
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<!--       <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->




 
    <%= yield %>



      <hr>

      <footer>
        <p>&copy; 2016 <a href="http://www.rebeccaestes.com">Rebecca G. Estes</a></p>
      </footer>
    </div> <!-- /container -->


</html>
