<div class="container">

  <h2 id="sequence_header"><%= @sequence.name %></h2>

  <% if @sequence.user == current_user %>

    <%= react_component('SequenceSorter') %>

        <p>Drag and drop the asanas to reorder them, or <%= link_to "edit sequence options", edit_sequence_path(@sequence) %>.</p>


    <div id="sequence_asanas">

      <% @asanas_in_seq.each do |asana| %>
        <div class="asana-card your-asana-card">
          <%= image_tag asana.img_url, alt:"#{asana.sanskrit_name}" %>
            <div class="card-text">
              <div class="sanskrit"><%= "#{asana.sanskrit_name}" %></div>
              <div class="english"><%= "#{asana.english_name}" %></div>
              <div class="helper delete_from_seq">        
                <%= link_to "(x)", remove_asana_sequence_path(@sequence, asana_id: asana.id), method: :post %>
              </div>
            </div>
          </div>
      <% end %>

    </div>

    <fieldset>
  
<!--       <% if Asana.where(user: @current_user).length > 0 %>
        <%= form_tag(add_asana_sequence_path(@sequence)) do %>
          <%= label_tag "Asana" %>
          <%= select_tag(:asana_id, options_for_select(Asana.where(user: @current_user).map{|a| ["#{a.sanskrit_name} (#{a.english_name})", a.id]})) %>
          <%= submit_tag "Add Asana" %>
        <% end %>
    </fieldset> -->

    <hr />

    <h3>Add Asana</h3>

    <%= react_component('AsanaSearch') %>

      <div id="sequence_asanas" class="searchable">
      <% @asanas.each do |asana| %>
        <div class="asana-card your-asana-card">
          <%= image_tag asana.img_url, alt:"#{asana.sanskrit_name}" %>
            <div class="card-text">
              <div class="sanskrit"><%= "#{asana.sanskrit_name}" %></div>
              <div class="english"><%= "#{asana.english_name}" %></div>
              <div class="helper">        
                <%= link_to "(+)", add_asana_sequence_path(@sequence, asana_id: asana.id), method: :post %>
              </div>
            </div>
          </div>
      <% end %>

    </div>

    <% end %>

<!-- 
    <%= react_component('SequenceSelector',
                    { initialAsanas: @asanas},
                    { prerender: true }) %> -->
  <% else %>

    <h4 class="list-top">This sequence was built by <%= @seq_owner.email %>.</h4>
    <div id="sequence_asanas">

      <% @asanas_in_seq.each do |asana| %>
        <div class="asana-card">
          <%= image_tag asana.img_url, alt:"#{asana.sanskrit_name}" %>
            <div class="card-text">
              <div class="sanskrit"><%= "#{asana.sanskrit_name}" %></div>
              <div class="english"><%= "#{asana.english_name}" %></div>
            </div>
          </div>
      <% end %>

    </div>

  <% end %>              
</div>
